.fade-1,
.fade-2,
.fade-3 {
    display: flex;
    flex-direction: column;
    animation-fill-mode: backwards;
    opacity: 0;
}
.fade-1 {
    animation: fade 1s ease-in-out forwards;
}

.fade-2 {
    animation: fade 1s ease-in-out forwards;
    animation-delay: 1s;
}

.fade-3 {
    animation: fade 1s ease-in-out forwards;
    animation-delay: 2s;
}

@keyframes fade {
    0% {
        transform: translate(0px, 0px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0%);
        opacity: 1;
    }
}