.img-menu {
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: -40px;

    img {
        object-fit: cover;
        height: 275px;
        width: 100%;

        @media screen and (min-width:1400px) {
            height: 383px;
        }
    }
}

/**********ENTRÉES**********/

hr{
    border: 0;
    border-top: 3px solid #99e2d0;
    width: 40px;
    margin: 5px 0px 12px 13px;
}

.menu-container {
    position: relative;
    display: flex;
    z-index: 2;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    width: 100%;

    @media (min-width:768px) {
        margin-left: 150px;
        margin-right: 150px;
        width: auto;

    }

    .title {
        position: relative;
        display: flex;
        justify-content: space-around;
        gap: 35px;
        align-items: center;
        margin-top: 6px;
        margin-bottom: 6px;

        @media (min-width:768px) {
            justify-content: center;
            gap: 70px;

        }

        @import "../components/animation-title-heart";
    }

    .menu-title {
        @include menu-title;
        margin-left: 10px;
    }

    .choose-container {
        display: flex;
        flex-direction: column;
    }

    .card-flex {
        display: flex;
        flex-direction: column;
        margin-left: 13px;
        margin-right: 13px;
        gap: 12px;
        margin-bottom: 30px;
    }
    
    .card-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 69px;
        background: #ffffff;
        width: 100%;
        box-shadow: 0px 4.01px 15.04px 0px #0000001a;
        border-radius: 15px 15px 15px 15px;
        overflow: hidden;
        cursor: pointer;

        &:active {
            .card-button {
                width: 60px;
            }

            .card {
                width: 100%;
            }

            .card-description {
                width: 99%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .card-title {
                width: 99%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        @media screen and (min-width:1400px) {
            &:hover {
                .card-button {
                width: 60px;
                }

                .card {
                    width: 100%;
                }

                .card-description {
                    width: 99%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .card-title {
                    width: 99%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-left: 10px;
        width: 100%
    }

    .price {
        @include price;
    }

    .card-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 0px;
        margin-left: 8px;
        background-color: $background-whitegreen;
        border-radius: 0px 15px 15px 0px;
        transition: all 0.8s;
    }

    .card-button i {
        font-size: 20px;
        color: #ffffff;
    }

    .choose-title {
        width: 40px;
        margin-left: 13px;
        @include menu-name;
    }

    .card-description {
        @include plat-description;
    }
}

.commander-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}